* {
    box-sizing: border-box;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --text-color: #1c1c1c;
    --main-color: #2469ae;
    --accent-color: #f46d01;
    --third-color: #4d4d4d;
    --comp-gray: #ececec;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2, h3 {
    font-weight: 700;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3, h4 {
        text-transform: uppercase;
        }
        h3 {
            font-size: 1rem;
            font-weight: 500;
        }
        h4 {
            font-size: .9rem;
        }

p, a {
    color: var(--text-color);
    font-weight: 300;
    text-decoration: none;
    }
    p {
        line-height: 1.5;
    }

i {
    font-size: 1.25rem;
    color: white;
}

/* ----- SPACING AND DISPLAY ----- */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    }
    .flex--top {
        align-items: flex-start;
    }
    .flex--left {
        justify-content: flex-start;
    }

.container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    }
    .container--sm {
        width: 70%;
    }

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 93, 152, 0.4);
}

/* ----- UI COMPONENTS ----- */

.field {
    padding-left: 1rem;
    border: none;
    font-family:inherit;
    font-size: inherit;  
    }
    .field--border {
        border: 1px solid var(--third-color);
    }

.button {
    padding: .5rem 2rem;
    border: none;
    background-color: var(--accent-color);
    text-transform: uppercase;
    color: white;
    }
    .button:hover {
        background-color: var(--comp-gray);
        color: var(--text-color);
        transition: 100ms;
    }
    .button--search {
        padding: .2rem 1rem;
    }
    .button--alt {
        color: var(--text-color);
        background-color: white;
    }

.sep-1 {
    width: 16%;
    height: 1.2rem;
    margin: 1.8rem auto;
    }
    .sep-1__line {
        display: block;
        width: 100%;
        height: .18rem;
        background-color: var(--comp-gray);
        }
        .sep-1__line--sm {
            width: 65%;
            margin: .5rem auto 0;
        }
        .sep-1__line--white {
            background-color: white;
        }

.sep-2 {
        display: block;
        width: 12%;
        height: .3rem;
        margin: 1.5rem auto;
        background-color: var(--comp-gray);
    }
    .sep-2--alt {
        background-color: var(--main-color);
    }

/* ----- SECTIONS STYLING ----- */

.topbar {
    height: 2.6rem;
    background-color: var(--accent-color);
    z-index: 200;
    }
    .topbar__content {
        height: 100%;
    }
    .topbar__contact {
        width: 80%;
        height: 100%;
        }
        .topbar__contact i,
        .topbar__contact p {
            margin-right: 1rem;
        }
        .topbar__contact p {
            display: inline;
            margin-top: 0;
            margin-bottom: 0;
            color: white;
        }
    .topbar__socials {
        width: 20%;
    }
    .topbar__icon {
        margin-right: 1rem;
        }
        .topbar__icon:last-child {
            margin-right: 0;
        }
        .topbar__icon i:hover {
            color: var(--comp-gray);
        }
    @media screen and (max-width: 920px) {
        .topbar {
            display: none;
        }
    }

#header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 6rem;
    background-color: white;
    box-shadow: 0 .1rem 6px rgba(28, 28, 28, .2);
    z-index: 500;
}

.header {
    height: 6rem;
    }
    .header__logo {
        width: 18%;
        height: 100%;
    }
    .header__img {
        width: 100%;
        margin: 0;
    }
    .header__menu {
        width: 46%;
    }
    .header__pages {
        margin-top: 0;
        margin-bottom: 0;
    }
    .header__link {
        float: left;
        margin-right: 2.3rem;
        }
        .header__link a:last-of-type {
            margin-right: 0;
        }
        .header__link:hover {
            color: var(--accent-color);
        }
    .header__search {
        width: 24%;
        }
        .header__search fieldset {
            padding: 0;
            border: none;
        }
    .header__field {
        width: 80%;
        height: 2rem;
    }
    @media screen and (max-width: 600px) {
        .header__logo {
            width: 40%;
            max-width: 200px;
        }
        .header__menu {
            display: none;
        }
        .header__search {
            width: 50%;
        }
        .header__field {
            width: 60%;
        }
    }
    @media screen and (min-width: 601px) and (max-width: 1110px) {
        .header__logo {
            width: 25%;
            max-width: 200px;
        }
        .header__menu {
            width: 70%;
        }
        .header__link {
            margin-right: 1.8rem;
        }
        .header__search {
            display: none;
        }
    }
    @media screen and (min-width: 1111px) and (max-width: 1280px) {
        .header__logo {
            width: 16%;
            max-width: 200px;
        }
        .header__menu {
            width: 50%;
        }
        .header__search {
            width: 28%;
        }
    }
    @media screen and (min-width: 1281px) and (max-width: 1294px) {
        .header__logo {
            width: 20%;
            max-width: 200px;
        }
        .header__menu {
            width: 55%;
        }
        .header__search {
            width: 25%;
        }
    }

.hero {
    position: relative;
    height: 600px;
    background-image: url(https://raw.githubusercontent.com/alexmolinaclick/girmaclix/main/assets/hero-bg.webp);
    background-size: cover;
    }
    .hero__cta {
        position: absolute;
        left: 10%;
        bottom: 20%;
        width: 36%;
        color: white;
        z-index: 100;
        }
        .hero__cta h1,
        .hero__cta p {
            margin-bottom: 1.5rem;
            text-align: left;
        }
    @media screen and (max-width: 1110px) {
        .hero {
            height: 510px;
        }
        .hero__cta {
            left: 50%;
            width: 70%;
            transform: translate(-50%);

        }
        .hero__cta h1,
        .hero__cta p {
            text-align: center;
        }
        .hero__cta .button {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

.text-section {
    margin: 6rem auto;
    text-align: center;
    }
    .text-section h2 {
        color: var(--main-color);
    }
    .text-section p {
        color: var(--text-color);
    }

.cta {
    height: 420px;
    padding-top: 7.5rem;
    background-image: url(https://raw.githubusercontent.com/alexmolinaclick/girmaclix/main/assets/cta-pic.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
    }
    .cta h1 {
        margin-bottom: 1.4rem;
    }
    .cta .sep-2 {
        margin-bottom: 2.5rem;
    }
    .cta__disclaimer {
        margin-bottom: 1.3rem;
        color: white;
    }

.team {
    padding-top: 96px;
    padding-bottom: 110px;
    background-color: var(--comp-gray);
    text-align: center;
    }
    .team h2 {
        color: var(--main-color);
    }
    .team p {
        color: var(--text-color);
    }
    .team__title {
        margin-bottom: 4rem;
    }
    .team__card {
        width: 23%;
        padding-bottom: 1rem;
        background: white;
        box-shadow: 0 8px 12px rgba(77, 77, 77, .3);
        }
        .team__caption {
            width: 90%;
            margin: 1.1rem auto 0;
            }
    @media screen and (max-width: 600px) {
        .team__card {
            width: 80%;
            margin: 0 auto 3rem;
        }
    }
    @media screen and (min-width: 601px) and (max-width: 920px) {
        .team__card {
            width: 40%;
            margin: 0 auto 3rem;
        }
    }
    @media screen and (max-width: 920px) {
        .team {
            padding-bottom: 58px;
        }
    }
    @media screen and (min-width: 921px) and (max-width: 1024px) {
        .team__card {
            height: 440px;
        }
    }

.services {
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
    }
    .services h2 {
        color: var(--main-color);
    }
    .services p {
        color: var(--text-color);
    }
    .services__card {
        width: 23%;
        border: solid 1px var(--comp-gray);
        padding: 1.8rem 1rem;
        }
        .services__card i {
            color: var(--text-color);
            font-size: 2.5rem;
        }
        .services__card h3 {
            margin: 1rem auto;
        }
    @media screen and (max-width: 600px) {
        .services__card {
            width: 80%;
            margin: 0 auto 3rem;
        }
    }
    @media screen and (min-width: 601px) and (max-width: 920px) {
        .services__card {
            width: 40%;
            margin: 0 auto 3rem;
            }
    }
    @media screen and (max-width: 920px) {
        .services {
            margin-bottom: 52px;
        }
    }

.testimonial {
    position: relative;
    height: 500px;
    background-image: url(https://raw.githubusercontent.com/alexmolinaclick/girmaclix/main/assets/test-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    }
    .testimonial_content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 200;
    }
    .testimonial h2, p {
        margin-bottom: 1rem;
        text-align: center;
        color: white;
    }
    .testimonial__img {
        display: block;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        margin: 2.5rem auto 0;
        background-color: var(--comp-gray);
    }
    @media screen and (max-width: 600px) {
        .testimonial {
            height: 700px;
        }
    }
    @media screen and (min-width: 600px) and (max-width: 811px) {
        .testimonial {
            height: 600px;
        }
    }

#contact {
    background-color: var(--main-color);
    }
    .contact {
        padding: 6rem 0;
        }
        .contact__cta {
            width: 30%;
        }
        .contact__cta h3,
        .contact__cta p {
            text-align: left;
            color: white;
        }
        .contact__form {
            width: 60%;
        }
        .contact__fields {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0;
            border: none;
        }
        .contact__input {
            width: 48.5%;
            height: 2rem;
            margin-bottom: 1.4rem;         
        }
        .contact__input--big {
            width: 100%;
            height: 4rem;
            padding-top: .6rem;
            margin-bottom: 2.1rem;
        }
    @media screen and (max-width: 600px) {
        .contact__input {
            width: 100%;
        }
    }
    @media screen and (max-width: 1024px) {
        .contact__cta {
            width: 100%;
            margin-bottom: 3rem;
        }
        .contact__form {
            width: 100%;
        }
    }

#footer {
    background: var(--third-color);
    width: 100%;
    }
    .footer__sections {
        padding-top: 6rem;
        margin-bottom: 4rem;
    }
    .footer__col:not(:last-child) {
        padding-right: 2.4rem;
        border-right: 1px solid var(--text-color);
        margin-right: 3.2rem;
        }
        .footer__col h3 {
            text-align: left;
            color: white;
        }
        .footer__col a,
        .footer__col p
        {
            text-align: left;
            font-size: .9rem;
            color: var(--comp-gray);
        }
        .footer__col a {
            display: block;
            margin-top: 1rem;
            }
            .footer__col a:hover {
                color: white;
            }
    .footer__about {
        width: 32%;
    }
    .footer__menu {
        width: 20%;
    }
    .footer__newsletter {
        width: 30%;
    }
    .footer__fields {
        padding: 0;
        border: none;
    }
    .footer__input {
        width: 50%;
        height: 2rem;
    }
    .footer__socials {
        margin-top: 2rem;
        }
        .footer__socials a {
            display: inline;
            margin-right: .5rem;
            }
            .footer__socials a:last-child {
                margin-right: 0;
            }
        .footer__socials i {
            color: var(--comp-gray);
            font-size: 1.2rem;
            }
            .footer__socials i:hover {
            color: white;
            }

    .footer__licence {
        margin-bottom: 1.5rem;
        }
        .footer__licence a {
            color: var(--accent-color);
        }
    @media screen and (max-width: 600px) {
        .footer__sections {
            margin-bottom: 3rem;
        }
        .footer__col:not(:last-child) {
            padding-right: 0;
            padding-bottom: 2rem;
            border-right: none;
            border-bottom: 1px solid var(--text-color);
            margin-right: 0;
            margin-bottom: 3rem;
            }
            .footer__col h3,
            .footer__col p,
            .footer__col a {
                text-align: center;
            }
        .footer__about,
        .footer__newsletter {
            width: 100%;
        }
        .footer__about {
            margin-bottom: 3rem;
        }
        .footer__input{
            width: 68%;
        }
        .footer__socials {
            text-align: center;
        }
        .footer__licence {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media screen and (max-width: 920px) {
        .footer__menu {
            display: none;
        }
    }
    @media screen and (min-width: 601px) and (max-width: 920px) {
        .footer__about,
        .footer__newsletter {
            width: 45%;
        }
    }